.exampler
{
    border: 3px solid brown;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    img
    {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.parent
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}